body {
  max-width: 800px;
  padding: 16px;
  font: 16px/1.25 Palatino, serif;
}
code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.prose code {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.04);
  padding: 0.2em 0.4em;
  font-size: 85%;
}
pre {
  border-radius: 3px;
  background: #f7f7f7;
  padding: 16px;
  color: #333;
  overflow: scroll;
}
pre > code {
  font-size: 12px;
  line-height: 16px;
}
.comment  { color: #999; }
.silent   { color: #999; }
.function,
.keyword  { color: #f63; font-weight: bold; }
.target.special { color: #693; }
.targets  { font-weight: bold; }
.recipe   { color: #369; }
.string   { color: #39c; }
.group    { color: #c93; }
.auto-var { color: #c93; }
.special-value { font-weight: bold; }
.number   { color: #693; }

code.language-make span[data-content] {
  cursor: default;
}
code.language-make span[data-content]:hover:after {
  font-style: italic;
  color: #999;
}
